:root {
  --white: #ffffffde;
  --darkGray: #242424;
  --slackPurple: #4a154b;
  --teal: #013541;
  --pink: #C01ED8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--teal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
}